<a href="https://colab.research.google.com/github/pr0fez/AI24-Programmering/blob/master/Exercises/03-for-statement-exercise.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; to see hints and answers.

# for statement exercises

---
These are introductory exercises in Python with focus in **for** statement.

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your answers in a neat way using <b>f-strings</b>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Count numbers (*)

Use a **for** statement to count from: 

&nbsp; a) &nbsp; -10 to 10 with one increment (*)

&nbsp; b) &nbsp; -10 to 10 with two increment (*)

<details>

<summary>Answer </summary>

```
a) -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

b) -10  -8  -6  -4  -2  0  2  4  6  8  10
```

</details>

In [ ]:
i = -10
for i in range (-10, 11):
    print (i, end=" ")
    i += 1

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [ ]:
print (*(i for i in range(-10,11)), end=" ")
print (list (i for i in range (-10,11)), end =" ")
print ([i for i in range (1,11)], end = " ")
print(*range(-10, 11))

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10 [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10] [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
nums = [1, 2, 3]
it = iter(nums)

print(next(it))  # 1
print(next(it))  # 2
print(next(it))

1
2
3

In [19]:
import numpy as np

a = np.array([[1, 2, 3], [4, 5, 6]])

# np.where 返回一个包含索引数组的元组
indices = np.where(a > 2)
print(indices)
print(indices[0])

(array([0, 1, 1, 1]), array([2, 0, 1, 2]))
[0 1 1 1]

---
## 2. Arithmetic sum (*)
Use a **for** statement to compute the following sums: 

&nbsp; a) &nbsp; $\text{sum} = 1 + 2 + \ldots + 99+ 100$ (*)

&nbsp; b) &nbsp; $\text{sum} = 1 + 3 + 5 + \ldots + 97 + 99$ (*)

<details>

<summary>Answer </summary>

```
a) 1 + 2 + ... + 99 + 100 = 5050 

b) 1 + 3 + 5 +...+ 97 + 99 = 2500
```

</details>

In [ ]:
n = 0
for i in range (1,101):
    n = n + i
print (n)

n = 0
for i in range (0,50):
    n = n + i*2 + 1
print (n)

5050
2500

---
## 3. Multiplication table (*)
Use **for** statement(s) to:

&nbsp; a) &nbsp; print out the 6th multiplication table from 0 to 10 (*)

&nbsp; b) &nbsp; let the user input the **table**, **start** and **end** of the table. (*)

&nbsp; c) &nbsp; print out a full multiplication table from 0 to 10. (**)


<details>

<summary>Hint</summary>

c) Use nested for-loops, which means a for-loop in a for-loop. To format the table nicely, use **f-string**: 

```python
print(f"{number :4}", end = "")
```


</details>


<details>

<summary>Answer </summary>

a)
```
0 6 12 18 24 30 36 42 48 54 60
```

b) e.g. 

```
Which table are you interested in? 5
Specify start of table: 5
Specify end of table: 12

Your 5th multiplication table from 5 to 12: 25 30 35 40 45 50 55 60
```

c)

```
   0   0   0   0   0   0   0   0   0   0   0
   0   1   2   3   4   5   6   7   8   9  10
   0   2   4   6   8  10  12  14  16  18  20
   0   3   6   9  12  15  18  21  24  27  30
   0   4   8  12  16  20  24  28  32  36  40
   0   5  10  15  20  25  30  35  40  45  50
   0   6  12  18  24  30  36  42  48  54  60
   0   7  14  21  28  35  42  49  56  63  70
   0   8  16  24  32  40  48  56  64  72  80
   0   9  18  27  36  45  54  63  72  81  90
   0  10  20  30  40  50  60  70  80  90 100
```

</details>

In [ ]:

print([6*i for i in range(0, 11)])

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [ ]:
x = int(input ("Which table are you interested in"))
n = int(input("Specify star of table:"))
m = int(input("Specify end of table:"))

print ([x*i for i in range (n,m+1)])

[64, 72, 80, 88, 96]

In [42]:
for x in range (0,11):
    for y in range (0,11):
        n = x*y
        print (f"{n:4}", end=" ")
    print()

   0    0    0    0    0    0    0    0    0    0    0
   0    1    2    3    4    5    6    7    8    9   10
   0    2    4    6    8   10   12   14   16   18   20
   0    3    6    9   12   15   18   21   24   27   30
   0    4    8   12   16   20   24   28   32   36   40
   0    5   10   15   20   25   30   35   40   45   50
   0    6   12   18   24   30   36   42   48   54   60
   0    7   14   21   28   35   42   49   56   63   70
   0    8   16   24   32   40   48   56   64   72   80
   0    9   18   27   36   45   54   63   72   81   90
   0   10   20   30   40   50   60   70   80   90  100

---
## 4. Faculty (*)

Use a **for** statement to compute $n!$. 

$n! = 1\cdot2\cdot3\cdot\ldots\cdot(n-1)\cdot n $

Let the user input $n$.

In [46]:
n = int(input("Please enter a integer:"))
m = 1
for i in range (2,n+1):
    m *=i
print (m)

5040

--- 
## 5. Guess the number (*)

The computer thinks of a four-digit number. Start by creating a random four-digit number. Use **for** statement to figure out a correct guess

<br>
<details>

<summary>Answer </summary>

e.g.
```
The final guess is 8993
The computer number is 8993
```

</details>

In [54]:
import random
y = random.randint(1000,10000)

for x in (1000,y):
    if x==y:
        print (f"The final guess is {x} The computer number is {y}")

The final guess is 6933 The computer number is 6933

---
## 6. Rice on chessboard (*)

In first square of the chessboard there is one grain of rice, in the second square there is two grains, in the third square there is four grains and so on. How many grains are there in the whole chessboard when all squares are filled using this pattern?

<img align="left" src="../assets/chessboard.png" width="300"/>

<details>

<summary>Answer</summary>

```
18446744073709551615 number of grains
```

</details>

In [2]:
x = 0
for i in range (64):
    x = x+2**i 
print (x)

18446744073709551615

---

pr0fez Giang

[LinkedIn][linkedIn_pr0fez]

[GitHub portfolio][github_portfolio]

[linkedIn_pr0fez]: https://www.linkedin.com/in/pr0fezgiang/
[github_portfolio]: https://github.com/pr0fez/Portfolio-pr0fez-Giang

---